body{
  text-align: center;
  font-size: 18px;
  margin: 2em;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
font-size: 1.5em;
padding-top: 20px;
font-weight: 500;
}
.title-text{
  margin: 30px 0;
}
.card{
  border: 1px solid rgb(236, 229, 229);
  width: 30%;
  max-height: 80vh;
  margin: 10px 20px;
}
main{
  display: flex;
  justify-content: center;
}
div{
  border: inherit;
  padding: 1.2em 0;
}

div:last-child{
  padding: 1.3em 0;
  background-color: rgb(228, 227, 227);
}
div:first-child{
  padding: 1.3em 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  font-size: 1.4em;
}
button{
  padding: 10px 23px;
  background-color: green;
  border: none;
  color: white;
  font-size: 1em;
}
section:nth-last-child(2) > div:first-child{
  background-color: gray;
  border: 1px solid gray;
}
span{
  font-weight:bold;
}
div > p:first-child{
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
div > p:last-child{
  color:gray;
}