.nav-container{
  color: white;
  font-family: sans-serif;
  font-size: 0;
}

.list-item{
  display: inline-block;
  list-style-type: none;
  padding: 10px 15px;
  background-color: orangered;
  font-size: 1rem;
  position: relative;

}
.list-item:hover{
  background-color: rgb(136, 55, 25);
}
.sub-list{
  position: absolute;
  display: none;
  left: 0;
  background-color: orangered;
  top: 100%;
}
.sub-list-item{
  box-sizing: border-box;
  width: 100%;
}
.list-item:hover > .sub-list{
  display: block;
}
.next-sub{
  left: 100%;
  top: 0;
}